:root {
  --va-background-primary: "#FAF1F2";
  --va-font-family: "Poppins", sans-serif !important;
  --va-modal-dialog-border-radius: 1.5rem;
}

.va-modal__overlay {
  background: rgba(0, 0, 0, 0.45);
}

.va-input-wrapper__field:after {
  @apply bg-white rounded-2xl;
}

.va-input-wrapper--solid .va-input-wrapper__field {
  @apply py-4 border-none;
}

.va-sidebar-item--active {
  @apply !text-white hover:!text-gray-500;
}

::-webkit-scrollbar {
  @apply h-2 w-2;
}
::-webkit-scrollbar-track {
  @apply w-2 rounded-xl bg-background;
}
::-webkit-scrollbar-corner {
  @apply h-0 w-0;
}
::-webkit-scrollbar-thumb {
  @apply rounded-xl bg-primary/75;
}
::-webkit-scrollbar {
  @apply rounded-xl bg-primary;
}
